
.para1{
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 70px;
    justify-content: center;

}
.row1{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 12vw;
    padding-right: 10vw;
}
.para2{
    font-style: normal;
    font-weight: 400;
    color: #7b848a;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
}
.para3{

    justify-content: space-between;
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
}
.row2{
   
    width: 100%;
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;    
    padding-left: 10vw;
    padding-right: 10vw;
}
.divh1{
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #061027;
    padding-bottom: 20px;
}
.row2_col2{
    display: flex;
  justify-content:space-evenly;
}
